{% extends "template.html" %}
{% block conteudo %}
<p>
    <form action="{{ url_for('dashboard') }}">
        <button class="btn btn-secondary" type="submit">Voltar</button>
    </form>
</p>
<h5>Confira a lista de jogos abaixo:</h5> 

    <table class="table table-striped table-responsive table-bordered">
        <thead align="center" class="thead-default align-middle">
            <tr>
                <th>Nome</th>
                <th>Console</th>
                <th>Popularidade</th>
                <th>Categoria</th>
                <th>Data de criação</th>  
                <th>Adicionar</th>                              
            </tr>
        </thead>
        <tbody align="center" class="align-middle">
        {% for jogo in lista %}
            {% if jogo not in user["jogos"] %}
            <tr>
                <form method="POST" action="{{ url_for('cadastrar_jogo_usuario') }}">
                <td><input name="nome" value="{{ jogo.nome }}" type="hidden">{{ jogo.nome.title() }}</td>
                <td><input name="console" value="{{ jogo.console }}"type="hidden">{{ jogo.console }}</td>
                <td><input name="popularidade" value={{ jogo.popularidade }} type="hidden">{{ jogo.popularidade }}</td>
                <td><input name="categoria" value="{{ jogo.categoria }}" type="hidden">{{ jogo.categoria }}</td>
                <td><input name="data" value="{{ jogo.data }}" type="hidden">{{ jogo.data }}</td>
                <td class="col-auto">
                        <button class="btn btn-primary"><strong><h4>+</h4></strong></button>
                    </td>
                </form>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table> 
{% endblock %}