<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    <title>Jogoteca PS2 - Cadastro de Usuário</title>
</head>
<body>
    <div class="container">
        <h1>Digite seus dados abaixo:</h1>
        <h4>Cadastro de Usuário</h4>
        <form method="POST" action="pagina_a_redirecionar">
            <p>
                <label>E-mail:</label>
                <input type="text" class="form-control" name="email" required>
            </p>
            <p>
                <label>Senha:</label>
                <input type="password" class="form-control" name="senha" required>
            </p>
            <p>
                <label>Nome:</label>
                <input type="text" class="form-control" name="senha" required>
            </p>
            <button class="btn btn primary" type="submit">Cadastrar</button>
        </form>
    </div>
</body>
</html>