{% extends "template.html" %}
{% block conteudo %}

<section class="container">
    <div>
        <h1 class="title">Cadastre o jogo</h1>
        <p>
            <form action="{{ url_for('dashboard') }}">
                <button class="btn btn-secondary" type="submit">Voltar</button>
            </form>
        </p>
        <form class="form-group" method="POST" action="">
            <p>
                <label>Nome:</label>
                <input class="form-control" type="text" name="nome" required>
            </p>
            <p>
                <label>Console (PS2):</label>
                <input class="form-check-input" type="radio" name="console" checked required>
            </p>
            <p>
                <label>Popularidade:</label>
                <input class="form-range" type="range" min="0" max="5" step="0.01" name="popularidade" required>
            </p>
            <p>
                <label>Categoria:</label>
                <input class="form-control" type="text" name="categoria" required>
            </p>
            <p>
                <label>Data de criação:</label>
                <input class="form-control" type="date" name="data" required>
            </p>
            <button class="btn btn-primary" type="submit">Cadastrar</button>
        </form>
    </div>
</section>

{% endblock %}