{% extends 'template.html' %}
{% block conteudo %}

<div class="container">
    <form action="{{ url_for('dashboard') }}">
        <button class="btn btn-secondary" type="submit">Voltar</button>
    </form>
    <form class="form-group" method="POST" action="{{ url_for('dashboard') }}">
        <p>
            <label>Pontos:</label>
            <input class="form-control" min="1" max="1000" type="number" name="pontos" required>
        </p>
        <p>
            <label>Tempo jogado:</label>
            <input class="form-control" type="time" name="tempo" required>
        </p>
        <button class="btn btn-primary" type="submit">Adicionar</button>
    </form>
</div>


{% endblock %}
