<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - PS2</title>
</head>
<body>
    <div class="container">
        <h1>Faça o seu login:</h1>
        <form method="POST" action="pagina_a_redirecionar">
            <p>
                <label>Login:</label>
                <input type="text" class="form-control" name="usuario" required>
            </p>
            <p>
                <label>Senha:</label>
                <input type="password" class="form-control" name="senha" required>
            </p>
            <p>
                <button class="btn btn-primary" type="submit">Entrar</button>
            </p>            
        </form>
    </div>
</body>
</html>