<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    <title>Login - PS2</title>
</head>
<body>
    <div class="container">
        <p><h2>Login - Jogoteca - PS2</h2></p>

        <p>
            <h5>Faça o seu login:</h5>
        </p>
        <form method="POST" action="{{ url_for('autenticar') }}">
            <p>
                <label>Email:</label>
                <input type="text" class="form-control" name="email" required>
            </p>
            <p>
                <label>Senha:</label>
                <input type="password" class="form-control" name="senha" required>
            </p>
            <p>
                <button class="btn btn-primary" type="submit">Entrar</button>
            </p>            
        </form>
    </div>
</body>
</html>