<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogoteca PS2</title>
    <link href="{{ url_for('static', filename='bootstrap.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container">
        {% with messages = get_flashed_messages(category_filter=["success"]) %}
            {% if messages %}
                {% for message in messages %}
                     <div class="alert alert-success fade">
                        <strong>{{ message }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% with messages = get_flashed_messages(category_filter=["error"]) %}
            {% if messages %}
                {% for message in messages %}
                     <div class="alert alert-danger fade">
                        <strong>{{ message }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        <p></p>
        <h1>{{ titulo }}</h1>
        <p></p>
        

        {% block conteudo %}
        
        {% endblock %}
    </div>
</body>
</html>